body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_container {
  background-color: white;
  color: black;
  width: 120%;
  padding: 20px 0px;
}
.content-container p {
  font-weight: 600;
  font-size: 1.2rem;
}
.current_time span {
  font-weight: 600;
  font-size: 1.2rem;
}
.app_name {
  font-weight: 800;
  font-size: 4rem;
}
