.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  height: 100vh;
}
/* .footer {
  /* position: absolute;
  bottom: 0; */
/* } */
.form {
  box-sizing: border-box;
  padding: 20px;
  background-color: pink;
  border-radius: 10px;
  width: 90%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.post {
  margin-left: 2rem;
  margin-top: 1rem;
}
.tag-btn {
  margin-right: 0.5rem;
  border-radius: 10px;
}
.reactions {
  margin-top: 15px;
}
